# Ignorar secrets.json e outros arquivos sensíveis
00 - Settings/secrets.json

# Ignorar credenciais geradas
*flows_cred.json
Nodered Image/flows_cred.json

# Ignorar arquivos temporários ou de cache
*.tar
*.tmp